@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;700&display=swap');

/* General rules */
html{
    font-family: Dosis, "Trebuchet MS", Helvetica, sans-serif;
    color:rgb(117, 76,36);
}


ul{
  list-style: none;  
  margin:0;
  padding:0;
}

ol{
  list-style: none;
  margin:0;
  padding:0;
}

/*Arranging*/

.mainMessage{
    font-size: 3em;
    margin:0.7em 0em 0em 0em;
}
.resultsEnd{
    text-align: center;
}
.mainContainer{
    background-color: rgb(255, 255, 231);
    padding: 1em;
}

/* Top Header */

.topContainer{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(117, 76,36);
    align-items: center;
    justify-content: flex-start;
    padding:0.5em;
}

.logo{
    flex-shrink: 0;
    width: 5em;
    height: 5em;
}

.logoTitle{
    flex-grow: 1;
    margin:5px;
    font-size: 3.5em;
    color: rgb(255,247,153);
    font-family: "Norican";
}

.searchForm{
    background-color: rgb(117, 76,36);
    padding: 0em 1em 1em 1em;
    display: flex;
    min-width: 18em;
    align-self: center;
}

.searchField{
    padding: 0.4em;
    width:100%;
}

::placeholder{
    font-family: Dosis, "Trebuchet MS", Helvetica, sans-serif;
    transform: translate(0, 0.15em);
}

.searchButton{
    background-color:rgb(255,247,153);
    margin-left: 0.2em;
    width: 2.5em;
    height: 2.5em;
    vertical-align: middle;
}

.material-icons.search {
    transform: translate(0, 0.12em);
    font-size: 18px;
}

.material-icons.shoppingCart{
    font-size: 3em;
    margin:5px;
    color: rgb(255,247,153);
}

/*Navigation*/

.menu, .submenu {   
    list-style-type: none;
}

.menu{
    margin: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: rgb(140,98,57);
}
.choice{
    color: rgb(255,247,153);
    font-weight: 700;
    text-decoration: none;
}

.sub{
    margin-left: 2em;
}

.menuItem{
    padding: 0.2em;
}

.menuItem:hover{
    background-color: rgb(166,124,82);
}

/*Filters*/
.filterForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.filter{
    margin: 0.5em 0em;
}

/*Product Results*/

.resultsTitle{
    margin-bottom: 0;
}

.resultsContainer{
    display: flex;
    flex-direction: column;
    color: rgb(255,247,153);
}

 .result{
     width:100%;
     height: 100%;
     background-color: rgb(117, 76,36);
     margin: 1em 0 1em 0;
     padding: 1em;
     border-radius: 1em;
 }

 .product{
    width:100%;
    height:100%;
    border-radius: 1em 1em 0em 0em;
    padding-bottom: 1em;
 } 

 .title{
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }

 .description{
    overflow: hidden;
    position: relative; 
    line-height: 1.2em;
    max-height: 3.6em; 
    text-align: justify;  
    margin-right: -0.6em;
    padding-right: 0.8em;
 }

 .description:before{
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
 }

 .description:after{
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background-color: rgb(117, 76,36);
 }

 .options .catagory1{
     grid-area: catagory1;
 }

.options .a1{
    grid-area: a1;
}

.options .b1{
   grid-area: b1;
}

.options .c1{
   grid-area: c1;
}

.options .catagory2{
    grid-area: catagory2;
}

.options .a2{
    grid-area: a2;
}

.options .b2{
   grid-area: b2;
}

.options .c2{
   grid-area: c2;
}

 .options{
    display: grid;
    width:100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr;
    gap: 0.5em 0em;
    grid-template-areas: 
    "catagory1 a1 b1 c1"
    "catagory2 a2 b2 c2";
 }

.price{
     font-size:2em;
 }
   
.rating{
   display: flex;
   align-items: flex-start;
}

.resultsButtonsContainer > .a{
    grid-area: buttonA;
}

.resultsButtonsContainer > .b{
    grid-area: buttonB;
}

.resultsButtonsContainer > .c{
    grid-area: buttonC;
}

.resultsButtonsContainer{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "buttonA buttonB"
    "buttonC buttonC";
}
.link{
    text-decoration: none;
    color: rgb(117, 76,36);
}

 .resultsButtons {
    font-family: Dosis, "Trebuchet MS", Helvetica, sans-serif; ;
    height:2.7em;
    width: 100%;
    line-height: 2.7em;
	font-size: 1.1em;
	background-color: rgb(255,247,153);
	color: rgb(117, 76,36);
	text-align: center;
	text-decoration: none;
    border-radius: 0.5em;
    margin:0.1em 0em;
 }

.resultsButtonIcons{
    transform: translate(0em, 0.1em);
}

.pages{
    display: flex;
    justify-content: center;
}
.page{
    margin: 0em 0.5em;
}

/*bottom footer*/
 .bottomContainer{ 
     display: flex;
     flex-direction: column;
     background-color: rgb(117, 76,36);
     color: rgb(255,247,153);
     padding:0em 1em;
 }
 .footerOptions{
     list-style-type: none;
     color: rgb(255,247,153);
     margin:1em
 }

 .option{
    color: rgb(255,247,153);
    text-decoration: none;
    margin:0em 1em;
 }

 @media screen and (min-width: 768px){
    .sub{
        margin: 0;
    }

    .menu{
        padding:0em;
        flex-direction: row;

    }

    .menuItem{
        padding: 1em;
    }

    .resultsContainer{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .result{
        width: 45%;
        margin: 1em;
    }

    .product{
        height: 25em;
        object-fit: cover;
    }

    .bottomContainer{ 
        flex-direction: row;
        align-items:flex-start;
        padding:0em 1em;
    }
 }
 @media screen and (min-width: 1025px) {

    .filterForm{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
    .filterSection{
        grid-area: sectionA;
    }
    .resultsSection{
        grid-area:sectionB;
    }
    .mainMessage{
        grid-area:heading;
        text-align: center;
    }
    .resultsEnd{
        grid-area:resultsEnd;

    }
    .mainContainer{
        background-color: rgb(255, 255, 231);
        padding: 1em;
        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "heading heading"
        "sectionA sectionB"
        "resultsEnd resultsEnd";
    }

    .resultsContainer{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .result{
        width: 30%;
    }

    .product{
        height: 20em;
        object-fit: cover;
    }
} 